<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <h3>Xรกc thแปฑc tรi khoแบฃn</h3>
    <p>Xin chรo {{name}} ๐</p>
    <p>Cแบฃm ฦกn bแบกn ฤรฃ ฤฤng kรฝ tรi khoแบฃn bรชn Shop.</p>
    <p>Mรฃ xรกc thแปฑc tรi khoแบฃn bรชn dฦฐแปi:</p>
    <h1
      style='color: #007bff; letter-spacing: 12px; font-size: 20px; font-weight: normal; text-align: center; margin: 20px 0; padding: 15px; background-color: #e3f2fd; border-radius: 8px;  border: 2px solid #007bff;'
    >{{token}}</h1>
  </body>
</html>